# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# ide
.idea

# build
build

local-test

.DS_Store

*.db
package/lib
